body {
  /* background-color: #0d1117; */
  color: white;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
}
header {
  background-color: #161b22;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}
.logo {
  display: flex;
  align-items: center;
  white-space: none;
}
.logo span {
  font-weight: bold;
  font-size: 24px;
  margin-left: 10px;
}
.logo-item {
  color: #1f6feb;
}
.logo-item:hover {
  color: #e6edf3;
}
.logo:hover {
  color: #1f6feb;
}
nav ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}
nav li {
  margin-right: 20px;
}
nav a {
  color: #e6edf3;
  text-decoration: none;
  font-weight: bold;
  font-size: 18px;
  transition: color 0.3s ease;
}
nav a:hover {
  color: #1f6feb;
}
/* PARTIE BANNER */
.banner {
  background-color: #0d1117;
  padding: 100px 100px;
  margin: 0;
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.banner h1 {
  font-size: 46px;
  margin-bottom: 20px;
}
.banner p {
  font-size: 28px;
  margin-bottom: 40px;
}
.banner a {
  display: inline-block;
  padding: 10px 20px;
  background-color: #1f6feb;
  color: #e6edf3;
  text-decoration: none;
  font-weight: bold;
  font-size: 18px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}
.banner a:hover {
  background-color: #e6edf3;
  color: #1f6feb;
}
.banner img {
  width: 200px;
}
/* PARTIE A PROPOS */
.apropos {
  padding: 100px 100px;
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #e6edf3;
  color: #0d1117;
}
.apropos h2 {
  font-size: 36px;
  margin-bottom: 20px;
}
.apropos p {
  font-size: 18px;
  margin-bottom: 20px;
}
.apropos img {
  width: 300px;
}
.apropos a {
  display: inline-block;
  padding: 10px 20px;
  background-color: #1f6feb;
  color: #e6edf3;
  text-decoration: none;
  font-weight: bold;
  font-size: 18px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}
.apropos a:hover {
  background-color: #8b949e;
  color: #0d1117;
}
/* PARTIE PROJET */
.mesProjets {
  padding: 50px 100px;
  margin: 0;
  text-align: center;
  background-color: #161b22;
}
.mesProjets h2 {
  color: #1f6feb;
  font-size: 36px;
  margin-bottom: 20px;
}
.projets {
  display: flex;
  justify-content: center;
  background-color: #161b22;
}

.projet {
  text-align: center;
  width: 100%;
  margin: 0;
  background-color: #e6edf3;
  color: #0d1117;
  margin: 20px;
  border-radius: 10px;
}
.projet img {
  width: 300px;
}
.projet h3 {
  font-size: 36px;
  margin-bottom: 20px;
}
.projet p {
  font-size: 18px;
  margin-bottom: 20px;
}
.projet a {
  display: inline-block;
  padding: 10px 20px;
  background-color: #1f6feb;
  color: #e6edf3;
  text-decoration: none;
  font-weight: bold;
  font-size: 18px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}
.projet a:hover {
  background-color: #8b949e;
  color: #0d1117;
}
/* PARTIE COMPETENCES */
.competences-title {
  color: #0d1117;
  font-size: 36px;
  margin-bottom: 20px;
  text-align: center;
}
.mesCompetences {
  /* padding: 50px 100px; */
  margin: 0;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}
.competence {
  padding: 10px;
  text-align: center;
  width: 20%;
  margin: 0;
  background-color: #e6edf3;
  color: #0d1117;
  border-radius: 10px;
  margin-top: 20px;
}
.competence .progress-text {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}
.competence .progress-text p {
  font-size: 18px;
}
.competence .progress-bar {
  margin-bottom: 20px;
  height: 20px;
  border-radius: 5px;
  border: 1px solid #1f6feb;
}
.competence .progress {
  height: 20px;
  border-radius: 5px;
  background-color: #1f6feb;
  transition: background-color 3s;
}
.competence .progress:hover {
  background-color: #103b7b;
}
/* PARTIE CONTACT */
.contacts {
  margin-top: 50px;
  padding: 50px 100px;
  display: flex;
  justify-content: space-between;
  background-color: #161b22;
}
.contacts h2 {
  color: #1f6feb;
  font-size: 36px;
  margin-bottom: 20px;
}
.contact {
  text-align: center;
  width: 100%;
  margin: 0;
  background-color: #e6edf3;
  color: #0d1117;
  margin: 20px;
  border-radius: 10px;
  padding: 20px;
}
.contact >p{
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 0px 100px;
}
.contact img {
  padding-top: 5px;
  width: 30px;
  align-items: center;
}
.contact a{
  text-decoration: none;
  color: #0d1117;
}

.contact form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contact label {
  font-size: 18px;
  margin-bottom: 10px;
}
.contact input[type="text"],
.contact input[type="email"],
.contact textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 5px;
  border: 1px solid #1f6feb;
  background-color: #e6edf3;
  color: #0d1117;
}
.contact button[type="submit"] {
  padding: 10px 20px;
  background-color: #1f6feb;
  color: #e6edf3;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.contact button[type="submit"]:hover {
  background-color: #103b7b;
}

/* PARTIE FOOTER */
footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #e6edf3;
  color: #161b22;
  padding: 20px;
  text-align: center;
}
footer p {
  margin: 0;
  font-size: 14px;
}
footer b {
  color: #1f6feb;
}
